/* LESS THAN 1680px */
@media only screen and (max-width: 1680px) {
  h1 {
    font-size: 2.75rem;
  }

  .banner h2 {
    font-size: 1.25rem;
  }

  .articles .main h1 {
    font-size: 2.5rem;
  }
}


/* LESS THAN 1150px */
@media only screen and (max-width: 1150px) {
  h2 {
    font-size: 1.35rem;
  }
}


/* LESS THAN 1000px */
@media only screen and (max-width: 1000px) {
    /* START LEARNING */
    .courses.desktop .middle {
      margin: 0;
    }

    .desktop .course {
      width: 40%;
      margin: 0 2rem 2rem 2rem;
    }

    .courses.desktop .middle {
      margin: 0 2rem 2rem 2rem;
    }


    /* ARTICLES */
    .articles .main {
      display: none;
    }


    /* THESIS EXHIBIT */
    .title {
        padding: 2rem 0 1rem 0;
    }

    .thesis-ex .sidebar {
      display: none;
    }

    .thesis-ex .main {
      width: 100%;
      padding: 0 0 1.5rem 0;
    }

    .thesis-ex .content {
      display: none;
    }



}


/* LESS THAN 900px */
@media only screen and (max-width: 900px) {
  /* HEADER */
  header .desktop {
    display: none;
  }

  header .mobile {
    display: initial;
  }

}


/* LESS THAN 720px */
@media only screen and (max-width: 790px) {
  /* BANNER */
  .banner {
    flex-direction: column;
  }

  .study-bench {
    padding: 0;
    width: 100%;
    height: 20rem;
    background-image: url(../images/banner.jpg);
    background-size: cover;
  }

  .study-bench img {
    display: none;
  }

  .banner .content {
    max-width: 100%;
    padding: 2rem 1rem;
    margin: 0;
    text-align: center;
  }

  .banner .btn {
    background-color: gray;
    text-align: center;
    width: 55%;
    padding: 1rem 0;
  }

  .banner .btn {
    font-size: 1.5rem;
  }

  /* START LEARNING */
  .learning {
    padding-bottom: 2rem;
  }

  .courses.desktop {
    display: none;
  }

  .courses.mobile {
    display: initial;
  }

  .courses.mobile li {
    width: 50%;
    padding: 1rem 0 1.5rem 1rem;
    background-color: lightGray;
    margin: 0 auto;
  }

  .courses.mobile li {
    margin-top: 0.5rem;
  }

  .courses.mobile li:hover {
    background-color: gray;
    color: white;
  }
  .mobile .top li {
    margin-top: 0;
  }

  /* THESIS EXHIBIT */
  .title h1 {
    font-size: 2.25rem;
  }

  /* FOOTER */
  .footer-links {
    display: none;
  }

  .footer .copyright {
    padding: 1rem 0;
    text-align: center;
  }
}

/* LESS THAN 645px */
@media only screen and (max-width: 645px) {
  /* START LEARNING */
  .learning .title {
    padding: 2rem 0 1.5rem 0;
  }

  .courses.mobile li {
    width: 85%;
  }
}
