/* UNIVERSAL */
html {
  font-size: 16px;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: black;                     /* COLOR: BLACK */
  text-decoration: none;
}


/* HEADER */
header {
  height: 4rem;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 1.5rem;
  font-weight: bold;
}

.logo span {
  color: lightGray;                 /* COLOR: GRAY */
  font-weight: normal;
}

.logo img {
  height: 2.5rem;
  width: auto;
}

nav.desktop {
  margin-right: 1.5rem;
}

nav.desktop ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav.desktop li {
  margin-left: 1rem;
  font-size: 1.175rem;
}

nav.desktop li:first-child {
  margin-left: 0;
}

.mobile {
  display: none;
}


/* BANNER */
.banner {
  background-color: lightGray;           /* COLOR: GRAY */
  flex-wrap: nowrap;
}

.study-bench {
  width: 55%;         /* CHANGED: 60% width appeared too large */
  padding: 2rem 0 2rem 2rem;        /* CHANGED: removed right padding b/c right centered text appeared off */
}

.study-bench img {
  width: 100%;
  height: auto;
}

.banner .content {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;           /* CHANGED: aligned text for aesthetic purposes */
  margin: 0 auto;
}

.banner .content h1 {
  font-weight: bold;
}

.banner .content h2 {
  margin: 2rem 0;
  font-weight: bold;
}

.banner .btn {
  background-color: black;            /* COLOR: BLACK */
  color: white;                       /* COLOR: WHITE */
  width: 35%;
  margin: 0 auto;
  padding: 0.5rem 0;
}
