/* UNIVERSAL */
html {
  font-size: 16px;
}

.container {
  display: flex;
  width: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.90rem;
}

a {
  color: black;                     /* COLOR: BLACK */
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}


/* HEADER */
header {
  height: 4rem;
  font-family: "Libre Baskerville", serif;
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 1.5rem;
}

.logo h2 {
  font-size: 1.5rem;
}

.logo span {
  color: lightGray;                 /* COLOR: GRAY */
  font-weight: 400;
}

.logo img {
  height: 2.5rem;
  width: auto;
}

nav.desktop {
  margin-right: 1.5rem;
  font-family: "Libre Franklin", sans-serif;
}

nav.desktop ul,
nav.mobile ul  {
  display: flex;
  height: 100%;
  align-items: center;
}

nav.desktop li {
  margin-left: 1rem;
  font-size: 1.175rem;
  transition: all 1s ease-out;
}

nav.desktop li:first-child {
  margin-left: 0;
}

header .mobile {
  width: 100%;
  display: none;
}

header .mobile li{
  width: 25%;
  text-align: center;
}


/* BANNER */
.banner {
  background-color: lightGray;           /* COLOR: GRAY */
  flex-wrap: nowrap;
  font-family: "Libre Franklin", sans-serif;
}

.study-bench {
  width: 55%;         /* CHANGED: 60% width appeared too large */
  padding: 2rem 0 2rem 1.5rem;        /* CHANGED: removed right padding b/c right centered text appeared off */
}

.study-bench img {
  width: 100%;
  height: auto;
}

.banner .content {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;           /* CHANGED: aligned text for aesthetic purposes */
  margin: 0 auto;
}

.banner .content h1 {
  font-family: "Libre Baskerville", serif;
}

.banner .content h2.subtitle {
  margin: 3rem 0 2rem 0;
}

.banner .btn {
  background-color: black;            /* COLOR: BLACK */
  color: white;                       /* COLOR: WHITE */
  width: 35%;
  margin: 0 auto;
  padding: 0.5rem 0;
  transition: all 100ms ease-out;
}

.banner .btn:hover {
  background-color: #E9E9E9;
  border: 3px solid black;
  color: black;
}


/* ARTICLES */
.articles {
  flex-wrap: nowrap;
}

.articles h1,
.articles h2 {
  font-family: "Libre Franklin", sans-serif;
}

.articles p {
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.9rem;
}

.articles .main {
  width: 55%;
  padding: 2rem 1.5rem;
  border-right: 2px solid lightGray;  /* COLOR: GRAY */
  flex-shrink: 1;
}

.articles .main img {
  width: 100%;
  height: auto;
}

.articles .main h1 {
  margin: 2rem 0 1.5rem 0;
  font-size: 2.75rem;
}

.articles .main p {
  margin-bottom: 2rem;
}

.articles .sidebar {
  flex-grow: 1;
  flex-shrink: 6;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.article {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.article .content {
  width: 50%;
  padding-left: 1.5rem;
}

.article img {
  width: 30%;
  height: 50%;
}

.article .middle {
  margin: 0.5rem 0;
}

.article a {
  color: blue;                        /* COLOR: BLUE */
}

.orientation {
  padding-bottom: 1.5rem;
  border-bottom: 3px solid lightGray; /* COLOR: GRAY */
}

.campus,
.guest {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.guest {
  background-color: lightGray;        /* COLOR: GRAY */
}


/* START LEARNING */
.learning {
  background-color: #E9E9E9;          /* COLOR: LIGHT GRAY */
  flex-wrap: wrap;
}

.learning .title {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  font-family: "Libre Baskerville", sans-serif;
}

.courses.desktop {
  flex-wrap: wrap;
  width: 100%;
  padding: 0 4.5rem 2rem 4.5rem;
  justify-content: center;
}

.courses.desktop h2{
  font-family: "Libre Franklin", sans-serif;
  padding-bottom: 0.5rem;
}

.desktop .course {
  width: 24.5%;
  background-color: white;            /* COLOR: WHITE */
}

.desktop .course img {
  width: 100%;
  height: auto;
}

.desktop .course p {
  padding-top: 0.5rem;
}

.courses.desktop .content {
  padding: 1rem 1rem 1.5rem 1rem;
}

.courses.desktop .middle {
  margin: 0 2rem;
}

.courses.desktop .top {
  margin-bottom: 2rem;
}

.courses.mobile {
  display: none;
}

.courses.mobile li:nth-child(1n+2) {
  margin-top: 0.5rem;
}


/* THESIS EXHIBIT */
.thesis-ex {
  flex-wrap: nowrap;
}

.title {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  font-family: "Libre Baskerville", sans-serif;
}

.thesis-ex .main {
  width: 55%;
  padding: 0 1.5rem 2rem 1.5rem;
}

.thesis-ex .main h2 {
  padding-bottom: 1.5rem;
  font-size: 2.75rem;
}

.thesis-ex video {
  width: 100%;
  height: auto;
  padding-bottom: 1.2rem;
}

.thesis-ex .sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.thesis-ex .sidebar .content {
  margin-left: 1rem;
}

.thesis-ex .sidebar .content p {
  margin-top: 0.5rem;
}

.thesis {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
}

.sidebar img {
  width: 30%;
  height: 50%;
}

.fisma {
  background-color: #E9E9E9;             /* COLOR: LIGHT GRAY */
}


/* FOOTER */
.footer {
  flex-wrap: nowrap;
  border-top: 1px solid lightGray;      /* COLOR: LIGHT GRAY */
}

.footer .copyright {
  flex-grow: 1;
  padding: 1rem 0 1rem 1.5rem;
}

.footer-links {
  padding: 1rem 1.5rem 1rem 0;
}

.footer-links li {
  display: inline-block;
}

.footer-links li:last-child {
  padding-left: 0.75rem;
}
